@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
  }

  @font-face {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-optical-sizing: auto;
  }
}