@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
  }

  @font-face {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-optical-sizing: auto;
  }
  @font-face {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-optical-sizing: auto;
  }
}

@layer components {
  #landing-page-title {
    @apply z-10 text-6xl text-center text-black transition-opacity duration-1000 !bg-clip-text sm:text-6xl md:text-8xl;
    background: radial-gradient(
      circle at 100%,
      #98d6ff,
      #ffffff 50%,
      #98d6ff 100%
    );
    font-weight: 600;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 5s linear infinite, fadeIn 1s ease-out forwards;
  }

  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
}